.tab-content {
  position: relative;
}

.tab-pane {
  display: none; /* Oculta todas las tarjetas por defecto */
}

.tab-pane.active {
  display: block; /* Solo la activa se muestra */
}

.card {
  min-height: 200px; /* Ajusta el tamaño base */
}

.uniform-height {
  min-height: 200px; /* Ajusta según la cantidad de texto */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
}
