<header class="navbar navbar-expand-md d-print-none bg-white shadow-sm">
  <div class="container-xl d-flex justify-content-between align-items-center">
    <!-- Botones adicionales -->
    <div class="navbar-nav flex-row">
      <!-- Botón Inicio -->
      <button class="nav-link btn btn-purple me-2" [routerLink]="['inicio']">
        <i class="ti ti-home-2" style="color: white; font-size: 24px;"></i>
      </button>
    </div>

    <!-- Imagen del logo -->
    <a href="/" class="navbar-brand d-flex align-items-center">
      <img
        src="../../../../assets/images/portada.png"
        alt="Logo"
        class="navbar-logo"
      />
    </a>
  </div>
</header>
